
.container{
	background-color: rgb(17, 30, 63);
	height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex:1;
	background-color: rgb(8, 14, 29);
		position: relative;
		top: 0;
		z-index: 1;
	}
	
	.uni-common-mt123{
		position: absolute;
		z-index: 3;
		top: var(--imgBottom);
		// margin-top: 100rpx;
		// bottom: 250rpx;
	}
	
	.info-part{
		position: relative;
		z-index: 3;
	}
	
	.back{
		position: absolute;
		// background-color: #1c1c1c;
		z-index: 2;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		.back-img{
			width: 100%;
		}
	}
	
	.btn-cnt{
		position: absolute;
		    left: 50%;
		    width: 100%;
		    transform: translateX(-50%);
		z-index: 3;
		bottom: 20rpx;
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
	}
	
	.btn-advise{
		position: absolute;
		    left: 50%;
		    width: 350rpx;
		    transform: translateX(-50%);
		z-index: 3;
		bottom: 250rpx;
		
		height: 80rpx;
		background-color: #5B7897;
		margin: 0 auto;
		line-height: 80rpx;
		text-align: center;
		color: white;
		border-radius: 20rpx;
		letter-spacing: 5rpx;
		font-size: 32rpx;
	}
	
	.datainfo{
		.back1{
			// background-color: #5B7897;
			width: 243rpx;
			height: 162rpx;
			text-align: center;
			// padding: 20rpx;
			border-top-left-radius: 20rpx;
			border-bottom-left-radius: 20rpx;
			color: white;
			font-size: 26rpx;
			.left-part{
				width: 110rpx;
			}
		}
		
		.left-side-part{
			width: 513rpx;
			height: 163rpx;
			position: absolute;
			top: 0rpx;
			image{
				width: 100%;
				height: 100%;
			}
		}
		
		.right-side-part{
			padding-left: 0rpx;
			position: relative;
			top: 0rpx;
			left: 493rpx;
			z-index: 10;
			width: 242rpx;
			height: 162rpx;
		}
		
		
		.side-info-part{
			position: absolute;
			top: 26rpx;
			left: 233rpx;
			.title {
				line-height: 55rpx;
			}
		}
		
		.back-side2
		{
			padding:20rpx;
			left: 20rpx;
			position: absolute;
		}
		
		.back2{
			// background-color: rgba(200, 200, 200, 0.7);
			padding:20rpx;
			margin-left: -10rpx;
			border-top-right-radius: 20rpx;
			border-bottom-right-radius: 20rpx;
			color: #fff;
			font-size: 26rpx;
			position: relative;
			.left-part{
				width: 110rpx;
			}
			.img2back{
				position: absolute;
				width: 513rpx;
				height: 163rpx;
				left: -20rpx;
				top: 0rpx;
			}
		}
		
		.right-info-part{
			padding-left: 20rpx;
			position: relative;
			top: 0rpx;
			left: 20rpx;
			z-index: 10;

		}
		.side1Img{
			width: 243rpx;
			height: 162rpx;
		}
		.front1Img{
		width: 203rpx;
			height: 162rpx;
		}
		
		.side2Img{
			// width: 203rpx;
			// height: 162rpx;
		}
		.front2Img{
			width: 242rpx;
			height: 162rpx;
		}
	}

	.backimg {
		width: 100%;
		display: block;
	}

	.title {
		line-height: 45rpx;
	}

	.impress {
		color: #ff0000;
	}

	.sizeImpress {
		font-weight: bold;
	}

	.frontPic {
		text-align: center;
		color: white;
		width: var(--imgWidth);
		height: var(--imgHeight);
		margin: 0 auto;
		position: relative;
		    top: 100rpx;
		// background-color: #5B7897;
	}

	.shoulderWrap {
		left: var(--left);
		width: var(--imgWidth);
		bottom: var(--bottom);
		position: absolute;
	}

	.shoulderLeftWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.shoulderRightWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.shoulderLeftEarWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.shoulderRightEarWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.shoulderEarWrap {
		left: var(--left);
		width: var(--imgWidth);
		bottom: var(--bottom);
		position: absolute;
	}

	.headPointWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.neckPointWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.backPointWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}
	
	.backUpPointWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}
	
	.backDownPointWrap {
		left: var(--left);
		bottom: var(--bottom);
		position: absolute;
	}

	.frontPic image {
		width: 100%;
		height: 100%;
	}

	.desc {
		width: 100%;

	}

	.desc image {
		width: 100%;
		height: 100%;
	}

	.info-part {
		position: relative;
		width: 100%;
	}

	.info-part .marker {
		position: absolute;
		width: 20px;
		height: 20px;
		background: #f00;
	}


	/* 垂线样式 */
	.wrap-h {
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 12px;
		left: 23px;
		height: 154px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		text-align: center;
		color: #fff;
	}

	.wrap-h view {
		margin: 0 auto;
		width: 14px;
		font-size: 14px;
		line-height: 14px;
		word-break: break-word;
	}

	.wrap-h view::before,
	.wrap-h view::after {
		position: absolute;
		left: 6px;
		width: 1px;
		height: 18%;
		content: "";
		background: #ddd;
	}

	/*调整背景垂线的上下距离*/
	.wrap-h view::before {
		top: 0px;
	}

	.wrap-h view::after {
		bottom: 0px;
	}

	/* 横线样式 */
	.wrap {
		position: absolute;
		// bottom: 6px;
		text-align: center;
	}


	.circle {
		width: 53rpx;
		height: 71rpx;
		margin-left: -27rpx;
		margin-top: -36rpx;
		// background-color: red;
		border-radius: 50%;
		background-size: 100% 100%;
		background-image: url('../../static/points.png');
	}

	.tips {
		text-align: left;
		width: 80px;
		margin-left: 10px;
		margin-top: -15px;
		position: absolute;
	}

	.tips-left {
		margin-left: -50px;
		margin-top: -15px;
	}

	.tips-neck-left {
		margin-left: -70px;
	}

	.tips-neck-right {
		margin-left: 15px;
	}

	.tips-head-left {
		margin-left: -55px;
	}

	.tips-head-right {
		margin-left: 15px;
	}

	.normal-btn {
		width: 200rpx;
		height: 80rpx;
		background-color: #5B7897;
		margin: 0 auto;
		line-height: 80rpx;
		text-align: center;
		color: white;
		border-radius: 20rpx;
		letter-spacing: 5rpx;
		font-size: 32rpx;
	}

	.save {
		width: 200rpx;
		height: 80rpx;
		font-size: 32rpx;
		letter-spacing: 5rpx;
		background-color: rgb(153, 134, 191);
		margin: 0 auto;
		line-height: 80rpx;
		text-align: center;
		color: white;
		border-radius: 20rpx;
	}
	
	.popup-tips{
		position: relative;
		margin: 20rpx;
		
		.titleimg {
			width: 106rpx;
			height: 95rpx;
			position: absolute;
			left: 50%;
			top: -90rpx;
			margin-left: -53rpx;
		}
		
		.send-btn {
			background-color: #fff;
			margin: 20rpx;
			margin-top: 50rpx;
			color: #354D5B;
			line-height: 80rpx;
			padding-left: 50rpx;
			padding-right: 50rpx;
			border-radius: 15rpx;
			text-align: center;
		}
		
		.close-btn {
			width: 26rpx;
			height: 27rpx;
			right: 30rpx;
			top: 20rpx;
			position: absolute;
		}
		
		.icon {
			width: 42rpx;
			height: 42rpx;
		}
		
		.input-area {
			margin-left: 20rpx;
			letter-spacing: 2rpx;
			background-color: #DEDEDE;
			padding: 20rpx;
			color: rgba(91, 120, 151, 1)
		}
		
		.icon-text {
			// line-height: 42rpx;
			margin-left: 20rpx;
			letter-spacing: 5rpx;
		}
	}
 
	.popup-container {
		position: relative;
		margin: 20rpx;

		

		.titleimg {
			width: 106rpx;
			height: 95rpx;
			position: absolute;
			left: 50%;
			top: -50rpx;
			margin-left: -53rpx;
		}

		.send-btn {
			background-color: #ff8000;
			margin: 20rpx;
			color: white;
			line-height: 80rpx;
			padding-left: 50rpx;
			padding-right: 50rpx;
			border-radius: 15rpx;
			text-align: center;
		}

		.close-btn {
			width: 26rpx;
			height: 27rpx;
			right: 30rpx;
			top: 20rpx;
			position: absolute;
		}

		.icon {
			width: 42rpx;
			height: 42rpx;
		}

		.input-area {
			margin-left: 20rpx;
			letter-spacing: 2rpx;
			background-color: #DEDEDE;
			padding: 20rpx;
			color: rgba(91, 120, 151, 1)
		}

		.icon-text {
			// line-height: 42rpx;
			margin-left: 20rpx;
			letter-spacing: 5rpx;
		}
	}